
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');


        nav{
            margin-bottom: 20px;
        }

        body{
            display:flex;
            flex-direction:column;
            min-height: 100vh;
        }
        footer{
            text-align:center;
            margin-top: auto;
        }


  header{
    background-color: #254996
  }

  .red{
    color: red;
  }

  .green{
    color: green;
  }

  .black{
    color: black
  }

  .logo2{
    width: 50px;   
  }

  .fondoBusqueda{
    background-color: #a5c3e7 
  }

  .fondoBlanco{
    background-color: #ffffff;
  }

  body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: lighter !important;
    background-color: #7777ff;  
  }

  .letraPequeña{
    font-size: small !important;
  }

  .letra2{
    font-family: 'Vollkorn', serif;
  }

  



  .nav>li>a{
    font-size: small !important;
  }

  .activo2:hover{
    background-color: #dde8d6 !important;
    border-left: #254996 6px solid;
    border-right: #c6cbc2 6px solid;
  }

  .nav>li>a.activo{
    background-color: #dde8d6 !important;
    border-left: #254996 6px solid;
    border-right: #c6cbc2 6px solid;
  }
  .colorBlanco{
    color: rgb(255, 255, 255);
  }
  
  .VerdeClaro, .sobreVerde{
    color: #dde8d6  
  }

  .izq{
    padding-right: 25px !important;
  }

  .izq2{
    padding-right: 19px !important;
  }

  .circulo{
        padding-top: 9px;
        padding-left: 8px;
        background: #dde8d6;
        width: 30px;
        height: 30px;
   }

   .circulo2{
        padding-top: 10px;
        padding-left: 6px;
        background: #dde8d6;
        width: 30px;
        height: 30px;
  }

  .circulo3{
        padding-top: 9px;
        padding-left: 8.5px;
        background: #dde8d6;
        width: 30px;
        height: 30px;
  }

  .margen{
    width: 100%;
  }

  .table-striped tbody tr:nth-child(odd) {
    color: #254996 !important;
    background-color: #fafdf8  !important;
    ; 
  }

  th{
    color: #254996 !important;
  }
 
  .colorIcono{
    text-decoration: none !important;
    color: #254996 !important;
    background-color: #fafcfa   !important;      
  }

  .textDecoration{
    text-decoration: none !important;
    color: #636663 !important;
  }

  .fondoAcordeon{
    background-color: #fafcfa !important;
  }

  .punto{
    list-style:none;
  }

  .hover:hover , .fondoVerde:hover{  
    background-color: rgb(214, 219, 223);
  }
  
  .negro{
    color: black;
  }

  .bordeTabla{
    border-bottom: #254996 0.13rem solid !important;
    border-right: 0px !important;
    border-left: 0px !important;
    height: 50px;
    align-items: center !important;
    color: #000000 !important;
    border-collapse: collapse;
  }

  td{
    vertical-align: middle;
  }

  .verde{
    color: #254996 !important;
  }

  .backstyle:hover, .backstyle:focus, .sobreVerde:hover{
    background-color: #dde8d6 !important; 
    border: #254996 solid 1px !important;
    color: #254996 !important;
    box-shadow: none !important;
  }

  .backstyle{
    color: #254996;
  }

  .bordeVerde{
    border: #254996 solid 1px !important;
  }

  .fondoVerde{
    background-color: #254996;
  }

  footer{
    height: 200px;
  }

  .bordeTabla{
    border: 3px;
  }

  .bordeCuadrado{
    border-radius: 0% !important;
  }

  button{
    background-color: #254996 !important;
    color: #dde8d6 !important;
    
  }

  .form-control:focus {
    border-color: #254996 !important;
  }

  .form-check-input:checked {
    border-color: #254996 !important;
    background-color: #254996 !important;
    color: #dde8d6;
  }
  
  button, input{
    box-shadow: none !important;  
    border-radius: 0% !important;
  }

  button:hover{
    background-color: #dde8d6 !important;
    box-shadow: none !important;    
  }

  .form-select:hover{
    box-shadow: none !important;
    border-color: #254996 !important;    
  }

  .gris:hover{
    background-color: rgb(203, 203, 203) !important;
  }

  @media (min-width:768px) {
    .col-md-2 {width: 14% !important;}
    .col-md-9 {width: 72% !important;}
  }
